body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
hr {
    width: 50px;
}
form {
    margin-top: 50px;
}

#disclaimer {
    position: absolute;
    margin-bottom: 20px;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
}
#updated {
    color: gray;
}

a {
    text-decoration: underline;
    color: gray;
}

#res table {
    display: none;
    text-align: center;
    padding: 50px;
}